@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

:root {
    --primary-color: hsl(47, 88%, 63%);
    --primary-font: 'Figtree', sans-serif;
    --bold: 600;
    --extra: 800
}

* {

    background-color: var(--primary-color);
    font-family: var(--primary-font)
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    padding: 10px;
    padding-right: 20px;
    width: 350px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 0px 5px black;
    background-color: hsl(0, 0%, 100%);
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.card-highlight {
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 4px;
    margin: 4px 0;
    width: fit-content;
    background-color: var(--primary-color);
    border-radius: 5px;
    text-align: center;
}

.card-title {
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--primary-color);
    background-color: white;
    font-family: var(--primary-font);
    font-weight: var(--extra);
}

.intro {
    background-color: white;
    font-weight: var(--extra);
    color: black;
    display: flex;
    padding-left: 20px;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
}

.intro img {
    background-color: white;
    width: 50px;
    height: auto;
}